@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: "Roboto", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

header{
    background-image: url(car-bg.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 102px);
}

.content{
    font-size: 2rem;
    margin: auto;
    max-width: 100%;
}

.content h1{
    color: #fff;
    margin-bottom: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
}
nav .logo i{
    margin-right: 1rem;
}
nav ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
nav ul a{
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

.selected{
    font-weight: bold;
    color: #00ffff;
}

.highlight{
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
   
    
}

.content .highlight{
    animation: anima 2s alternate infinite;
}

@keyframes anima{
            0%, 18%, 22%, 25%, 53%, 57%, 100% {
          
                text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #fff,
                0 0 40px #0fa,
                0 0 80px #0fa,
                0 0 90px #0fa,
                0 0 100px #0fa,
                0 0 150px #0fa;
            
            }
            
            20%, 24%, 55% {        
                text-shadow: none;
            }    
          
}

/* Footer style */

footer{
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

footer strong{
    color: #00ffff;
}
footer p{
    margin: 0;
}

/* Resposive Layout - MediaQuery */

@media screen and (max-width: 700px){
    .content{
        font-size: 1.4rem;
        margin: 2rem auto 0;
    }

    nav .logo{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    nav ul{
        flex-direction: column;
    }

    nav li:not(:last-child){
        margin-bottom: 1rem;
    }

    nav .highlight{
        display: none;
    }

    footer ul{
        flex-direction: column;
        justify-content: center;
    }

    footer li{
        margin: 1rem;
        text-align: center;
    }
}
















